{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<h2>Sponsors</h2>

<p>
The phpMyAdmin project extends a special thanks to the companies who wish to support us in a recurring way.
</p>

<h3>Diamond sponsor</h3>
<a href="https://www.navicat.com/"><img src="{% static 'images/navicat_250x250.png' %}" alt="Navicat" /></a>

<h3>Platinum sponsors</h3>

<div class="logos">
<a href="http://www.wpbeginner.com/?utm_source=phpmyadmin_footer&amp;utm_medium=banner&amp;utm_campaign=phpmyadmin"><img src="{% static 'images/wpbeginner-250.png' %}" alt="WPBeginner" /></a>
</div>

<h3>Gold sponsors</h3>

<div class="logos">
<a href="https://crumbles.co/"><img src="{% static 'images/crumbles.png' %}" alt="Crumbles" /></a>
<a href="https://babasupport.org/"><img src="{% static 'images/baba-support.png' %}" alt="Customer Service Directory" /></a>
<a href="https://themeisle.com/"><img src="{% static 'images/themeisle.png' %}" alt="ThemeIsle" /></a>
<a href="https://alienwp.com/"><img src="{% static 'images/alienwp.png' %}" alt="AlienWP" /></a>
<a href="https://www.promocodewatch.com/"><img src="{% static 'images/promocodewatch.png' %}" alt="PromoCodeWatch" /></a>
<a href="https://www.clfip.com/"><img src="{% static 'images/clfip.png' %}" alt="Chhabra Law Firm" /></a>
</div>

<h3>Silver sponsors</h3>

<div class="logos">
</div>

<h3>Bronze sponsors</h3>

<div class="logos">
<a href="http://www.aoe.com/">AOE</a>
<a href="https://www.hostname.cl/">hostname.cl</a>
<a href="https://dailyfantasycafe.com/">Daily Fantasy Cafe</a>
<a href="http://www.dailyhosting.net/">DailyHosting.net</a>
<a href="http://makeawebsitehub.com/">makeawebsitehub.com</a>
<a href="https://www.topbargains.com.au/">Australian Coupons</a>
<a href="https://www.loadview-testing.com">Load View Testing</a>
<a href="http://www.edmontonrealestate.ca/">Edmonton Real Estate</a> 
<a href="https://metapress.com/">Metapress Tutorials</a>
<a href="http://www.flaptor.com/">flaptor</a>
<a href="https://www.entertainment-nation.co.uk/">Entertainment Nation</a>
<a href="https://www.gtxgaming.co.uk/">GTX Gaming</a>
<a href="https://www.autoverzekering.nl/">Autoverzekering.nl</a>
<a href="https://www.chefworks.com/">Chef Works Inc.</a>
<a href="https://99bitcoins.com/">99bitcoins</a>
<a href="https://tinki.nl/">Online dierenwinkel Tinki.nl</a>
<a href="https://teamnijhuis.com/">Team Nijhuis</a>
<a href="https://tinki.de/">Hundezubehör Hundeshop Tinki.de</a>
<a href="https://xopenhub.pro/">X OPEN HUB</a>
<a href="https://www.pricewise.nl/">vergelijk - Pricewise</a>
<a href="https://www.hoyhoy.nl/">verzekering - hoyhoy</a>
<a href="https://www.webton.nl/">Webdesign by Webton</a>
<a href="https://www.areapoints.com/">Area Points</a>
<a href="https://www.rabatterat.se/">Rabatterat.se Rabattkoder</a>
<a href="https://ecohosting.cl/">EcoHosting.cl</a>
<a href="https://teranicouture.com/">Terani Couture Dresses</a>
<a href="https://www.bestvpnrating.com/">Bestvpnrating.com</a>
<a href="https://xwordmedia.com/">XWord Media</a>
<a href="https://www.independer.nl/">Independer</a>
<a href="https://www.bestewebsitebuilder.nl/">BesteWebsitebuilder.nl</a>
<a href="https://www.amsterdamslotenservice.com/">Slotenmaker Amsterdam</a>
<a href="https://www.gameserverkings.com">GameserverKings.com</a>
<a href="https://skepp.nl/nl/">SKEPP Kantoorruimte Amsterdam</a>
<a href="https://www.traffictoday.nl/">Online Marketing - Traffic Today</a>
<a href="https://www.inshared.nl/">Autoverzekering InShared</a>
<a href="https://www.signomatic.co.uk/">Signomatic</a>
<a href="https://dealspotr.com/">Dealspotr Promo Codes</a>
<a href="https://sneakerbaron.nl/">Sneakers vergelijken | Sneakerbaron</a>
<a href="https://promocodi.com/">Promocodi.com</a>
<a href="https://www.fit.nl">FIT.nl</a>
<a href="https://www.heerlaw.com">Heer Law</a>
</div>

<h2 id="conditions">Becoming sponsor</h2>

{% include '_sponsorship_conditions.html' %}

<h2 id="partners">Technology partners</h2>

<p>
The phpMyAdmin project is grateful to our technology partners for their services.</p>

<h3><a href="https://www.cdn77.com/"><img src="{% static 'images/cdn77_logo.png' %}" alt="CDN77.com" /></a></h3>

<p>Our downloads are accelerated by <a href="https://www.cdn77.com/">content delivery network</a>.</p>

<h3><a href="https://github.com/phpmyadmin"><img src="{% static 'images/github.png' %}" alt="GitHub" /></a></h3>

<p>GitHub provides hosting for our source code and issue tracker.</p>

<h3><a href="https://browserstack.com"><img src="{% static 'images/BrowserStackLogo.png' %}" alt="BrowserStack" /></a></h3>

<p>BrowserStack is running our Selenium tests in real browsers.</p>

<h3><a href="https://scrutinizer-ci.com/g/phpmyadmin/phpmyadmin/"><img src="{% static 'images/scrutinizer.png' %}" alt="Scrutinizer" /></a></h3>

<p>Scrutinizer helps us improve code quality.</p>

<h3><a href="https://weblate.org/"><img src="{% static 'images/weblate-button.png' %}" alt="Weblate" /></a></h3>

<p>Our translations are being done on <a href="https://hosted.weblate.org/">Hosted Weblate</a>.</p>

{% endblock %}
